.background{
    width: 100vw;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    flex-direction: column;
}

.choice{
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-left: 8%;
    
}

.choice button{
    width: 30%;
    height: 30%;
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    /* font-family: 'Archivo Black', sans-serif; */
}

form{
    position: relative;
    border-radius: 10px;
    width: 40%;
    height: 70%;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5); /* Кольоровий фон з прозорістю */
    backdrop-filter: blur(4px); /* Застосування розмиття */
    gap: 0.5rem;
}

form h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    position: relative;
    right: 10%;
}

form input{
    width: 80%;
    height: 10%;
    border-radius: 10px;
    padding: 0 10px;
}

form button{
    height: 10%;
    width: 30%;
    border-radius: 10px;
}
