{% extends 'base_settings/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'new_tenant/css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<script defer src="{% static 'new_tenant/js/reg_login.js' %}"></script>
{% endblock %}
{% block content %}
<img class="background" src="{% static 'new_tenant/img/background-1.png' %}" alt="">
<div class="container">
    <div class="choice">
        <button id="new-tenant-btn">New tenant</button>
        <button  id="login-btn">Login</button>
    </div>
    <form action="" method="POST" id ='registration'>
        <h1>Input the data of the tenant</h1>
        {% csrf_token %}
        <input type="text" placeholder="First name" name="name">
        <input type="text" placeholder="Second name" name="surname">
        <input type="email" placeholder=".com" name="email">
        <input type="text" id ='login-field' placeholder="Login" name="reg-login">
        <input type="password" placeholder="Password" id = 'password-field' name="reg-password">
        <input type="password" placeholder="Confirm password" id = 'confirm-password-field' name="reg-confirm">
        <button type="submit" id="finish-btn">finish</button>
        <p>{{error}}</p>
    </form>
</div>
{% endblock %}