*{
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

.nav-1{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    max-width: 100%;
    background-color: #1A2228;
}

.mail{
    display: flex;
    color: whitesmoke;
    align-items: center;
}

.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
    
}

.contacts a {
    height: 70%;
}

.nav-1 img{
    height: 100%;
}

.nav-2{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: #fff;
    padding: 2% 0;
}

.nav-2 img{
    height: 60%;
    position: relative;
    left: 10%;
}

ul{
    display: flex;
    gap: 1.2rem;
    list-style: none;
    padding-right: 10%;
}

.link{
    padding: 0.5rem;
    position: relative;
    text-align: center;
}

.link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: orange;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0;
    left: 0;
}

.link a:hover{
    color: orange;
}

.link:hover::before{
    transform: scaleX(1);
}

.link a{
    text-decoration: none;
    color: #1A2228;
    transition: all 0.6s ease;
}

